.btn {
    cursor: pointer;
}

h1 {
    color: rgb(253, 156, 156);
    font-size: 40px;
    height: 100px;
    text-align: center;
    padding: 50px;
}

h1:nth-child(1) {
    color: white;
    transition: color .5s ease-in-out;
    text-align: center;
    font-size: 165px;
    font-family: Baskerville Old Face;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 165px;
}

input[type="text"] {
    height: 30px;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    margin-left: 41%
}

.clicked {
    color: rgb(193, 214, 252);
}

.form,
.greetings {
    display: none;
    text-align: center;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.js-greetings {
    color: rgb(252, 221, 201);
    font-size: 30px;
}


.js-toDoList {
    color: white;
    padding-left: 400px;
}

.js-weather {
    color: lemonchiffon;
}